@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

/*
  font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
*/

*, *::before, *::after {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bc-viewport {
  min-height: 100vh;
  width:100%;
  display:flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Component Styling - Header */
.bc-header {
  background-color: #61dafb;
  flex: 0 0 52px;
}

.bc-loader {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #1d2124;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:100;
  opacity: 1;
  transition: all .3s ease-in-out;
}

.bc-loader.hidden {
  opacity: 0;
  z-index: -1;
}

.bc-loader.inline {
  flex: 1;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-flex;
  background-color: rgba(255, 255, 255, .5);
}

.bc-loader.inline.hidden {
  flex: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: inline-flex;
  background-color: transparent;
}

.bc-loader svg {
  flex: 0 1 auto;
}

.bc-header h2 {
  margin: 0 0 0 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

.bc-header__button {
  background-color: darkcyan;
  transition: background-color .5s;
  cursor: pointer;
}

.bc-header__button:hover {
  background-color: darkslategray;
}

/* Component Styling - Main-Content */
.bc-content {
  flex: 1 1 0;
  margin-right: 0;
}

button:focus { outline: none !important; }
.list-group-item {
  border-radius: 0 !important;
}

/* Text styling */
h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  margin-left: 12px;
  margin-right: 12px;
  padding: 6px 0;
}

h4, h5 {
  font-weight: bold;
}

/* navigation */
.bc-nav {
  padding: 12px 0;
  color: rgba(244, 244, 244, 1);
  background-color: #4e555b;
  height: 100%;
}

.bc-nav .nav-item {
  border-bottom: 1px solid rgba(70, 70, 70, 1);
  transition: background-color .4s ease-in-out;
}

.bc-nav .nav-item.active {
  background-color: #5a6268;
}

.bc-nav .nav-item:first-child {
  border-top: 1px solid rgba(70, 70, 70, 1);
}

.bc-nav .nav-item:hover {
  background-color:#343a40;
}

svg {
  vertical-align: initial !important;
}

/* helpers */
.mx-neg-3 {
  margin-left: -1.25rem !important;
  margin-right: -1.25rem !important;
}

.h-10 {
  height: 10% !important;
}

.h-90 {
  height: 90% !important;
}

/* ADMIN -- Header */
.admin__member--header {
  background-color: #444;
  color: white;
}

/* overrides */
.react-datepicker-wrapper,
.react-datepicker__input-container {
  display:block;
}

.form-check-label {
  margin-left: 1.25rem;
}

.modal-dialog {
  max-width: 800px !important;
}

.table {
  margin-bottom: 0 !important;
}

.list-item-wrapper {
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.border-radius-50 {
  border-radius: 50% !important;
}

.card-columns {
  column-count: 2 !important;
}
