html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bc-viewport {
  min-height: 100vh;
  width:100%;
  display:flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Component Styling - Header */
.bc-header {
  background-color: #61dafb;
  flex: 0 0 52px;
}

.bc-header__button {
  background-color: darkcyan;
  transition: background-color .5s;
  cursor: pointer;
}

.bc-header__button:hover {
  background-color: darkslategray;
}

/* Component Styling - Main-Content */
.bc-content {
  flex: 1 1 0;
}

/* Text styling */
h2 {
  margin-left: 12px;
  padding: 6px 0;
}
